.hardware-container {
    display: flex;
    padding: 50px;
}

.hardware-container .menu {
    flex: 1;
}

.hardware-container .menu ul li {
    list-style-type: none;
    cursor: pointer;
    margin-bottom: 10px;
}

.hardware-container .content {
    flex: 3;
}